prefer-no-csd

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

overview {
    zoom 0.5
    backdrop-color "#262626"

    workspace-shadow {
        // off
        softness 80
        spread 80
        offset x=0 y=0
        color "#00000050"
    }
}

recent-windows {
    // off
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#ffffff"
        urgent-color "#ff9999ff"
        padding 20
        corner-radius 8
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
  workspace-switch {
          spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
      }

      window-open {
          duration-ms 150
          curve "ease-out-expo"
      }

      window-close {
          duration-ms 150
          curve "ease-out-quad"
      }

      horizontal-view-movement {
          spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
      }

      window-movement {
          spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
      }

      window-resize {
          spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
      }

      config-notification-open-close {
          spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
      }

      exit-confirmation-open-close {
          spring damping-ratio=0.6 stiffness=500 epsilon=0.01
      }

      screenshot-ui-open {
          duration-ms 200
          curve "ease-out-quad"
      }

      overview-open-close {
          spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
      }

      recent-windows-close {
          spring damping-ratio=1.0 stiffness=800 epsilon=0.001
      }
}
